<h3 class="page-header">
    Inicio
</h3>

<div class="row">
    <div class="col-md-3">
		<div class="media bg-primary" style="padding: 10px; height: 100px; color: #fff; background-color: #7A4DFF">		  
		  <div class="media-body">
		    <h4 class="media-heading">Solicitudes de Recursos</h4>
		    <span class="custom-font-size">
		    	<a href="#!/solicitud-recursos-aj" class="subOptionHome">
		    	- Autorización Jefatura
		    	</a>
		    </span>		    
		    <span class="custom-font-size" ng-show="codEmpleado == 'GGP' || codEmpleado == 'ADMIN'">		    	
		    	<a href="#!/solicitud-recursos-ag" class="subOptionHome">
		    	- Aprobación Gerencia
		    	</a>
		    </span>
		    <span class="custom-font-size" ng-show="codEmpleado == 'ABG' || codEmpleado == 'ABG1' || codEmpleado == 'ADMIN'">
		    	<a href="#!/solicitud-recursos-al" class="subOptionHome">
		    	- Aprobación Legal
		    	</a>
		    </span>
		  </div>
		  <div class="media-right">
		      <span><i class="fa fa-archive" style="font-size: 30px;"></i></span>
		  </div>
		  
		</div>
    </div>

    <div class="col-md-3">
		<div class="media bg-primary" style="padding: 10px; height: 100px;">
		  <a href="#!/solicitud" style="color:#fff; text-decoration: none;">
		  <div class="media-body">
		    <h4 class="media-heading">Solicitudes de Vehículos</h4>
		    <span class="custom-font-size">
		    	Solicitudes de Vehículos
		    </span>
		  </div>
		  <div class="media-right media-middle">
		      <span><i class="fa fa-car" style="font-size: 30px;"></i></span>
		  </div>
		  </a>
		</div>
    </div>
    <div class="col-md-3">
		<div class="media bg-primary" style="padding: 10px; height: 100px; color: #fff; background-color: #11aa00">
		  <a href="#!/vacaciones" style="color:#fff; text-decoration: none;">
		  <div class="media-body">
		    <h4 class="media-heading">Solicitudes de Vacaciones</h4>
		    <span class="custom-font-size">
		    	Solicitudes de Vacaciones
		    </span>
		  </div>
		  <div class="media-right media-middle">
		      <span><i class="fa fa-calendar" style="font-size: 30px;"></i></span>
		  </div>
		</a>
		</div>
    </div>
    <div class="col-md-3">
		<div class="media bg-primary" style="padding: 10px; height: 100px; color: #fff; background-color: #12AEB3">
		  <a href="#!/adelanto-viaticos" style="color:#fff; text-decoration: none;">
		  <div class="media-body">
		    <h4 class="media-heading">Adelantos de Viáticos</h4>
		    <span class="custom-font-size">
		    	Adelantos de Viáticos
		    </span>
		  </div>
		  <div class="media-right media-middle">
		      <span><i class="fa fa-credit-card" style="font-size: 30px;"></i></span>
		  </div>
		</a>
		</div>
    </div>
    <div class="col-md-3">
		<div class="media bg-primary" style="margin-top:20px; padding: 10px; height: 100px; color: #fff; background-color: #DF3D05">
		  <a href="#!/liquidacion-viaticos" style="color:#fff; text-decoration: none;">
		  <div class="media-body">
		    <h4 class="media-heading">Liquidaciones de Viáticos</h4>
		    <span class="custom-font-size">
		    	Liquidaciones de Viáticos
		    </span>
		  </div>
		  <div class="media-right media-middle">
		      <span><i class="fa fa-plane" style="font-size: 30px;"></i></span>
		  </div>
		</a>
		</div>
    </div>
	
    <div class="col-md-3">
		<div class="media bg-primary" style="margin-top:20px; padding: 10px; height: 100px; color: #fff; background-color: #ccb700">
		  <a href="#!/ejecucion-presupuestaria" style="color:#fff; text-decoration: none;">
		  <div class="media-body">
		    <h4 class="media-heading">Ejecución Presupuestaria</h4>
		    <span class="custom-font-size">
		    	Ejecución Presupuestaria
		    </span>
		  </div>
		  <div class="media-right media-middle">
		      <span><i class="fa fa-money" style="font-size: 30px;"></i></span>
		  </div>
		  </a>
		</div>
    </div>



    <div class="col-md-3">    	
    </div>
</div>