<h3 class="page-header">
    Inicio
</h3>

<div class="row">
    <div class="col-md-3">
		<div class="media bg-primary" style="padding: 10px; height: 100px;">
		  <a href="#!/solicitud" style="color:#fff; text-decoration: none;">
		  <div class="media-body">
		    <h4 class="media-heading">Solicitud Vehículos</h4>
		    <span class="custom-font-size">
		    	Lista de solicitudes de aprobación
		    </span>
		  </div>
		  <div class="media-right media-middle">
		      <span><i class="fa fa-car" style="font-size: 30px;"></i></span>
		  </div>
		  </a>
		</div>
    </div>
    <div class="col-md-3">
		<div class="media bg-primary" style="padding: 10px; height: 100px; color: #fff; background-color: #11aa00">
		  <a href="#!/vacaciones" style="color:#fff; text-decoration: none;">
		  <div class="media-body">
		    <h4 class="media-heading">Solicitud Vacaciones</h4>
		    <span class="custom-font-size">
		    	Lista de vacaciones de aprobación
		    </span>
		  </div>
		  <div class="media-right media-middle">
		      <span><i class="fa fa-calendar" style="font-size: 30px;"></i></span>
		  </div>
		</a>
		</div>
    </div>
    <!--
    <div class="col-md-3">
		<div class="media bg-primary" style="padding: 10px; height: 100px; color: #fff; background-color: #ccb700">
		  <a href="#!/ejecucion-presupuestaria" style="color:#fff; text-decoration: none;">
		  <div class="media-body">
		    <h4 class="media-heading">Ejecución Presupuestaria</h4>
		    <span class="custom-font-size">
		    	Lista de ejecución presupuestsria
		    </span>
		  </div>
		  <div class="media-right media-middle">
		      <span><i class="fa fa-money" style="font-size: 30px;"></i></span>
		  </div>
		  </a>
		</div>
    </div>
	-->
    <div class="col-md-3">    	
    </div>
</div>