<h3 class="page-header">
    {{title}}
    <a href="#!/solicitud" class="btn btn-default btn-xs pull-right">&lt;&lt;&lt; Regresar a la lista</a>
    <button type="button" class="btn btn-success btn-xs pull-right" style="margin-right: 10px;" ng-click="aprobarSolicitud()">Aprobar Solicitud</button>    
</h3>

<div class="row bg-success">
    <div class="col-md-6">
        <br />
        <div class="row">   
            <fieldset disabled>
            <div class="col-md-6">
            <div class="form-group">
                <label class="sr-only custom-font-size" for="idSolicitud">Solicitud</label>
                <div class="input-group">
                    <div class="input-group-addon custom-font-size">Solicitud:</div>
                    <input type="text" value="{{solicitud.num_solicitud}}" class="form-control input-sm" id="idSolicitud" placeholder="#Solicitud">
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label class="sr-only custom-font-size" for="fecha">Fecha</label>
                <div class="input-group">
                    <div class="input-group-addon custom-font-size">Fecha:</div>
                    <input type="text" value="{{solicitud.fec_solicitud | toDate}}" class="form-control input-sm" id="fecha" placeholder="00/00/00 00:00">
                </div>
            </div>
            </div>
            </fieldset>
        </div>
    </div>
    <div class="col-md-6">
        <br />
        <div class="row">   
            <fieldset disabled> 
            <div class="col-md-6">
            <div class="form-group">
                <label class="sr-only custom-font-size" for="fecha">Fecha Aprobación</label>
                <div class="input-group">
                    <div class="input-group-addon custom-font-size">Fecha Aprobación:</div>
                    <input type="text" value="{{solicitud.fec_autorizacion | toDate}}" class="form-control input-sm" id="fecha" placeholder="00/00/00 00:00">
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label class="sr-only custom-font-size" for="estado">Estado</label>
                <div class="input-group">
                    <div class="input-group-addon custom-font-size">Estado:</div>
                    <input type="text" value="{{solicitud.ind_estado | statusCode}}" class="form-control input-sm" id="estado" placeholder="Estado">
                </div>
            </div>
            </div>
            </fieldset>
        </div>
    </div>
</div>
<div class="row bg-success">
    
    <div class="col-md-4">
        <div class="panel panel-default"> 
            <div class="panel-heading"> 
                <h3 class="panel-title custom-font-size"><b>Solicitante</b></h3> 
            </div> 
            <div class="panel-body custom-font-size" style="padding-top:5px; padding-bottom:5px;">
                <table class="table table-condensed" style="margin:0px;">
                    <tr>
                        <td class="text-left" style="vertical-align: middle;">
                            Programa:
                        </td>
                        <td>
                            <fieldset disabled> 
                                <input type="text" value="{{solicitud.programa | capitalizeEveryWord}}" class="form-control input-sm" id="programa" placeholder="Nombre Programa">
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left"  style="vertical-align: middle;">
                            Centro:
                        </td>
                        <td>
                            <fieldset disabled> 
                                <input type="text" value="{{solicitud.centro | capitalizeEveryWord}}" class="form-control input-sm" id="centro" placeholder="Nombre Centro">
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left"  style="vertical-align: middle;">
                            Funcionario:
                        </td>
                        <td>
                            <fieldset disabled> 
                                <input type="text" value="{{solicitud.funcionario | capitalizeEveryWord}}" class="form-control input-sm" id="funcionario" placeholder="Nombre de Funcionario">
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </div> 
        </div>
    </div>
    
    <div class="col-md-4">      
        <div class="panel panel-default"> 
            <div class="panel-heading"> 
                <h3 class="panel-title custom-font-size"><b>Días y Horas</b></h3> 
            </div> 
            <div class="panel-body custom-font-size" style="padding-top:5px; padding-bottom:5px;">
                <table class="table table-condensed" style="margin:0px;">
                    <tr>
                        <td class="text-left" style="vertical-align: middle;">
                            Salida:
                        </td>
                        <td>
                            <fieldset disabled> 
                                <input type="text" value="{{solicitud.fec_salida | toDate}}" class="form-control input-sm" id="fecSalida" placeholder="Nombre Programa">
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left"  style="vertical-align: middle;">
                            Ingreso:
                        </td>
                        <td>
                            <fieldset disabled> 
                                <input type="text" value="{{solicitud.fec_ingreso | toDate}}" class="form-control input-sm" id="fecIngreso" placeholder="Nombre Centro">
                            </fieldset>
                        </td>
                    </tr>
                    <tr style="visibility: hidden;">
                        <td colspan="2">
                            <fieldset disabled> 
                                <input class="form-control input-sm" placeholder="None">
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </div> 
        </div>
    </div>
    
    <div class="col-md-4">      
        <div class="panel panel-default"> 
            <div class="panel-heading"> 
                <h3 class="panel-title custom-font-size"><b>Localidad</b></h3> 
            </div> 
            <div class="panel-body custom-font-size" style="padding-top:5px; padding-bottom:5px;">
                <table class="table table-condensed" style="margin:0px;">
                    <tr>
                        <td class="text-left" style="vertical-align: middle;">
                            Provincia:
                        </td>
                        <td>
                            <fieldset disabled> 
                                <input type="text" value="{{solicitud.provincia | capitalizeEveryWord}}" class="form-control input-sm" id="provincia" placeholder="Nombre Provincia">
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left"  style="vertical-align: middle;">
                            Cantón:
                        </td>
                        <td>
                            <fieldset disabled> 
                                <input type="text" value="{{solicitud.canton | capitalizeEveryWord}}" class="form-control input-sm" id="estado" placeholder="Nombre Canton">
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left"  style="vertical-align: middle;">
                            Distrito:
                        </td>
                        <td>
                            <fieldset disabled> 
                                <input type="text" value="{{solicitud.distrito | capitalizeEveryWord}}" class="form-control input-sm" id="estado" placeholder="Nombre del Distrito">
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </div> 
        </div>
    </div>

</div>
<div class="row bg-success">
    <div class="col-md-6">
        <label for="objetivo" class="custom-font-size">Objetivo de la salida</label>
        <textarea class="form-control input-sm custom-font-size" rows="3" id="objetivo">{{solicitud.des_objetivo}}</textarea>
        <br />
    </div>
    <div class="col-md-6">
        <label for="observaciones" class="custom-font-size">Observación del viaje</label>
        <textarea class="form-control input-sm custom-font-size" rows="3" id="observaciones">{{solicitud.des_observacion_viaje}}</textarea>     
        <br />
    </div>
</div>
<div class="row" style="background: #ddd;">
    <div class="col-md-12">
        <br />
        <div class="panel panel-default">       
            <div class="panel-heading"> 
                <h3 class="panel-title custom-font-size"><b>Funcionarios</b></h3> 
            </div> 
            <div class="panel-body custom-font-size" style="padding-top:5px; padding-bottom:5px;">
                <table class="table">
                    <tr>
                        <th class="text-center">Número</th>
                        <th class="text-center">Funcionario</th>
                        <th class="text-center">Observación</th>
                    </tr>
                    <tr ng-repeat="funcionario in funcionarios">
                        <td>{{funcionario.cod_funcionario}}</td>
                        <td>{{funcionario.des_funcionario | capitalizeEveryWord}}</td>
                        <td>{{funcionario.observacion}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>  
    <div class="col-md-12">
        
    </div>
</div>