<div class="page-header">
    <div class="row">
        <div class="col-md-6">
            <h3 class="main-title">{{title}}</h3>
        </div>
        <div class="col-md-6 text-right">
            <md-button class="btn-success md-raised" ng-click="aprobarSolicitud(encabezado.num_adelanto)" >
                Aprobar Solicitud
            </md-button>
            <md-button class="btn-default md-raised" ng-click="backToList()" >
                &lt;&lt;&lt; Regresar a la lista
            </md-button>

        </div>
    </div>
</div>

<div class="row bg-success">
    
    <div class="col-md-12">
        <br>
        <div class="panel panel-default"> 
            <div class="panel-heading"> 
                <h3 class="panel-title custom-font-size"><b>Liquidación de Viáticos</b></h3> 
            </div> 
            <div class="panel-body custom-font-size" style="padding-top:5px; padding-bottom:0px;">
                <div class="col-md-12">
                    <table class="table table-condensed" style="margin:0px;">
                        <tr>
                            <td class="text-left" style="vertical-align: middle;">
                                Comprobante N°:
                            </td>
                            <td>
                                <fieldset disabled> 
                                    <input type="text" value="{{encabezado.num_comprobante}}" class="form-control input-sm" id="nComprobante">
                                </fieldset>
                            </td>
                            <td class="text-left" style="vertical-align: middle;">
                                Centro Costo
                            </td>
                            <td colspan="5">
                                <fieldset disabled> 
                                    <input type="text" value="{{encabezado.centro}}" class="form-control input-sm" id="centroCosto">
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left"  style="vertical-align: middle;">
                                Fecha:
                            </td>
                            <td>
                                <fieldset disabled> 
                                    <input type="text" value="{{encabezado.fec_comprobante | customDate3}}" class="form-control input-sm" id="fecha" >
                                </fieldset>
                            </td>
                            <td class="text-left"  style="vertical-align: middle;">
                                Solicitante:
                            </td>
                            <td colspan="5">
                                <fieldset disabled> 
                                    <input type="text" value="{{encabezado.solicitante}}" class="form-control input-sm" id="solicitante">
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left"  style="vertical-align: middle;">
                                Monto:
                            </td>
                            <td>
                                <fieldset disabled> 
                                    <input type="text" value="{{encabezado.mon_comprobante | currency : '&cent;'}}" class="form-control input-sm" id="monto" >
                                </fieldset>
                            </td>
                            <td class="text-left"  style="vertical-align: middle;">
                                Presupuesto:
                            </td>
                            <td>
                                <fieldset disabled> 
                                    <input type="text" value="{{encabezado.cod_presupuesto}}" class="form-control input-sm" id="presupuesto">
                                </fieldset>
                            </td>
                            <td class="text-left" style="vertical-align: middle;">
                                Adelanto N°:
                            </td>
                            <td>
                                <fieldset disabled> 
                                    <input type="text" value="{{encabezado.num_adelanto}}" class="form-control input-sm" id="nAdelanto" >
                                </fieldset>
                            </td>
                            <td class="text-left" style="vertical-align: middle;">
                                Estado:
                            </td>
                            <td>
                                <fieldset disabled>                                     
                                    <input type="text" value="{{encabezado.estado | getEstado}}" class="form-control input-sm" id="estado" >
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left"  style="vertical-align: middle;">
                                Clasificación:
                            </td>
                            <td>
                                <fieldset disabled> 
                                    <input type="text" value="{{encabezado.clasificacion}}" class="form-control input-sm" id="clasificacion" >
                                </fieldset>
                            </td>
                            <td class="text-left"  style="vertical-align: middle;">
                                Meta:
                            </td>
                            <td>
                                <fieldset disabled> 
                                    <input type="text" value="{{encabezado.cod_meta}}" class="form-control input-sm" id="meta" >
                                </fieldset>
                            </td>
                            <td class="text-left" style="vertical-align: middle;">
                                Transferencia N°
                            </td>
                            <td>
                                <fieldset disabled> 
                                    <input type="text" value="{{encabezado.num_transferencia}}" class="form-control input-sm" id="transferencia" >
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" class="text-left">								
                                <div class="col-md-6" style="margin: 0; padding: 5px; padding-left:0px">
                                	<p class="bg-info" style="padding: 5px;"><b>Monto a Reintegrar</b></p>
                                	<div class="col-md-6" style="padding: 5px;">
                                		N° Recibo
		                                <fieldset disabled> 
		                                    <input type="text" value="{{encabezado.cod_comp_ingresos}}" class="form-control input-sm" id="nRecibo" >
		                                </fieldset>		                               
                                	</div>
                                	<div class="col-md-6" style="padding: 5px;">
                                		Monto
		                                <fieldset disabled> 
		                                    <input type="text" value="{{encabezado.mon_devolver | currency : '&cent;'}}" class="form-control input-sm" id="montoRecibo" >
		                                </fieldset>
                                	</div>
                                    <br />
                                </div>
                                <div class="col-md-6" style="margin: 0; padding: 5px;">
                                	<p class="bg-info" style="padding: 5px;"><b>Monto a Favor</b></p>
                                	<div class="col-md-6" style="padding: 5px;">
                                		Monto
		                                <fieldset disabled> 
		                                    <input type="text" value="{{encabezado.mon_funcionario | currency : '&cent;'}}" class="form-control input-sm" id="montoFuncionario" >
		                                </fieldset>		                               
                                	</div>
                                	<div class="col-md-6" style="padding: 5px;">
                                		Transferencia N°
		                                <fieldset disabled> 
		                                    <input type="text" value="{{encabezado.num_transferencia_liq}}" class="form-control input-sm" id="nTransferencia" >
		                                </fieldset>
                                	</div>
                                    <br />
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" class="text-left">								
                                <div class="col-md-6" style="margin: 0; padding: 5px;">
                                    <label for="desMotivo" class="custom-font-size">Descripción del Viaje</label>
                                    <fieldset disabled>
                                    <textarea class="form-control input-sm custom-font-size" rows="3" id="desMotivo">{{encabezado.des_motivo}}</textarea>
                                    </fieldset>
                                    <br />
                                </div>
                                <div class="col-md-6" style="margin: 0; padding: 5px;">
                                    <label for="observaciones" class="custom-font-size">Observaciones</label>
                                    <fieldset disabled>
                                    <textarea class="form-control input-sm custom-font-size" rows="3" id="observaciones">{{encabezado.des_observaciones}}</textarea>     
                                    </fieldset>
                                    <br />
                                </div>

                            </td>
                        </tr>
                    </table>
                </div>
            </div> 
            <div class="panel-body custom-font-size" style="padding-top:5px; padding-bottom:0px;">
                <div class="col-md-12">
                    <table class="table">
                        <tr class="bg-warning text-center">
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Localidad</th>
                            <th class="text-center">Salida</th>
                            <th class="text-center">Regreso</th>
                            <th class="text-center">Desayuno</th>
                            <th class="text-center">Almuerzo</th>
                            <th class="text-center">Comida</th>
                            <th class="text-center">Estadía</th>
                            <th class="text-center">Total por Día</th>
                        </tr>
                        <tr ng-repeat="d in detalle">
                            <td>{{d.fec_detalle | customDate3}}</td>
                            <td>{{d.cod_localidad}}</td>
                            <td>{{d.hor_salida | formatHour}}</td>
                            <td>{{d.hor_regreso | formatHour}}</td>
                            <td class="text-right">{{d.mon_desayuno | currency : "&cent;"}}</td>
                            <td class="text-right">{{d.mon_almuerzo | currency : "&cent;"}}</td>
                            <td class="text-right">{{d.mon_cena | currency : "&cent;"}}</td>
                            <td class="text-right">{{d.mon_estadia | currency : "&cent;"}}</td>
                            <td class="text-right">{{(d.mon_desayuno*1) + (d.mon_almuerzo*1) + (d.mon_cena*1) + (d.mon_estadia*1) | currency : "&cent;"}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>Totales</b></td>
                            <td class="text-right">{{totDesayuno | currency : "&cent;"}}</td>
                            <td class="text-right">{{totAlmuerzo | currency : "&cent;"}}</td>
                            <td class="text-right">{{totCena | currency : "&cent;"}}</td>
                            <td class="text-right">{{totEstadia | currency : "&cent;"}}</td>
                            <td class="text-right">{{(totDesayuno*1)+(totAlmuerzo*1)+(totCena*1)+(totEstadia*1) | currency : "&cent;"}}</td>
                        </tr>
                    </table>
                </div>
            </div>            
        </div>
    </div>

</div>

<div class="row bg-success">

</div>