<h3 class="page-header">
	{{title}}
	<a href="#!/solicitud" class="btn btn-default pull-right btn-xs">&lt;&lt;&lt; Regresar a la lista</a>
</h3>
<div class="row bg-success">
	<div class="col-md-6">
		<br />
		<div class="row">	
			<fieldset disabled>
			<div class="col-md-6">
			<div class="form-group">
				<label class="sr-only custom-font-size" for="idSolicitud">Solicitud</label>
				<div class="input-group">
					<div class="input-group-addon custom-font-size">Solicitud:</div>
					<input type="text" ng-model="solicitud.numSolicitud" class="form-control input-sm" id="idSolicitud" placeholder="#Solicitud">
				</div>
			</div>
			</div>
			<div class="col-md-6">
			<div class="form-group">
				<label class="sr-only custom-font-size" for="periodo">Periodo</label>
				<div class="input-group">
					<div class="input-group-addon custom-font-size">Periodo:</div>
					<input type="text" ng-model="solicitud.periodo.num_year" class="form-control input-sm" id="periodo" placeholder="Periodo">
				</div>
			</div>
			</div>
			</fieldset>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="sr-only custom-font-size" for="programa">Programa</label>
					<div class="input-group custom-font-size">
						<div class="input-group-addon custom-font-size">Programa:</div>
                        <select id="programa" class="form-control input-sm" style="font-size: 10px;" ng-model="solicitud.programa"
                          ng-options="option.DES_PROGRAMA for option in solicitud.programas track by option.COD_PROGRAMA" ng-change="loadCuentas()">
                        </select>
					</div>
				</div>				
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<fieldset disabled>
				<div class="form-group">
					<label class="sr-only custom-font-size" for="usuario">Usuario</label>
					<div class="input-group">
						<div class="input-group-addon custom-font-size">Usuario:</div>
						<input type="text" ng-model="solicitud.usuario" class="form-control input-sm" id="usuario" placeholder="Usuario">
					</div>
				</div>
				</fieldset>				
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<br />
		<div class="row">	
			<fieldset disabled>	
			<div class="col-md-6">
			<div class="form-group">
				<label class="sr-only custom-font-size" for="fecha">Fecha</label>
				<div class="input-group">
					<div class="input-group-addon custom-font-size">Fecha:</div>
					<input type="text" ng-model="solicitud.fecha" class="form-control input-sm" id="fecha" placeholder="00/00/00 00:00">
				</div>
			</div>
			</div>
			<div class="col-md-6">
			<div class="form-group">
				<label class="sr-only custom-font-size" for="estado">Estado</label>
				<div class="input-group">
					<div class="input-group-addon custom-font-size">Estado:</div>
					<input type="text" ng-model="solicitud.estado" class="form-control input-sm" id="estado" placeholder="Estado">
				</div>
			</div>
			</div>
			</fieldset>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="sr-only custom-font-size" for="proveedor">Proveedor</label>
					<div class="input-group">
						<div class="input-group-addon custom-font-size">Proveedor:</div>
                        <select id="proveedor" style="font-size: 10px;" class="form-control input-sm" ng-model="solicitud.proveedor"
                          ng-options="option.des_proveedor for option in solicitud.proveedores track by option.cod_proveedor">
                        </select>						
					</div>
				</div>				
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="sr-only custom-font-size" for="moneda">Moneda</label>
					<div class="input-group">
						<div class="input-group-addon custom-font-size">Moneda:</div>
                        <select id="moneda" class="form-control input-sm" ng-model="solicitud.moneda"
                          ng-options="option.des_moneda for option in solicitud.monedas track by option.id">
                        </select>						
					</div>
				</div>				
			</div>
			<div class="col-md-6">
				<fieldset disabled>
				<div class="form-group">
					<label class="sr-only custom-font-size" for="total">Total</label>
					<div class="input-group">
						<div class="input-group-addon custom-font-size">Total:</div>
						<input type="text" ng-if="solicitud.moneda.id == 1" value='{{solicitud.total | currency : "&cent;"}}' class="form-control input-sm text-right" id="total" placeholder="Total">
						<input type="text" ng-if="solicitud.moneda.id == 2" value='{{solicitud.total | currency : "$"}}' class="form-control input-sm text-right" id="total" placeholder="Total">
					</div>
				</div>
				</fieldset>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<label for="observaciones" class="custom-font-size">Observaciones</label>
		<textarea class="form-control input-sm custom-font-size" rows="3" id="observaciones" ng-model="solicitud.observaciones"></textarea>
		<br />
	</div>
</div>
<div class="row" style="background: #ddd;">	
	<div class="col-md-12">
		<br />
		<div class="panel panel-default">
		  <div class="panel-heading text-right">
			<form class="form-inline">
			  <div class="form-group">
			    <label class="sr-only custom-font-size" for="cuenta">Buscar</label>
			    <div class="input-group">
			      <div class="input-group-addon custom-font-size">Seleccionar:</div>
                    <select id="cuenta" class="form-control input-sm" style="font-size: 10px;" ng-model="solicitud.cuenta"
                      ng-options="option.des_cuenta for option in solicitud.cuentas track by option.cod_cuenta">
                    </select>	
			    </div>
			  </div>			  
			  <button type="button" class="btn btn-success btn-sm" ng-click="addCuenta(solicitud.cuenta.key)">Agregar</button>
			</form>
		  </div>
		  <div class="panel-body">
		    <table class="table table-condensed custom-font-size">
		    	<thead>
			    	<tr>
			    		<th># Detalle</th>
			    		<th>Cantidad</th>
			    		<th>Cuenta</th>
			    		<th>Detalle</th>
			    		<th>Precio Unit</th>
			    		<th>Total Linea</th>
			    		<th></th>
			    	</tr>
		    	</thead>
		    	<tbody>
		    		<tr ng-repeat="detCuenta in solicitud.detalle track by $index" 
		    			ng-click="setActive($index)" ng-class="{'selected-row':isActive($index)}">
		    			<td>{{$index+1}}</td>
		    			<td>
		    				<input type="text" ng-model="solicitud.detalle[$index].cantidad" ng-change="getTotalByLine($index)" class="form-control input-sm text-right" style="width: 65px;" id="cant{{$index}}" placeholder="0">
		    				<input type="hidden" ng-model="solicitud.detalle[$index].cantidadh">
		    			</td>
		    			<td>{{detCuenta.num_cuenta}} | {{detCuenta.des_cuenta | cut:true:50:' ...'}}</td>
		    			<td>
		    				<input type="text" ng-model="solicitud.detalle[$index].descripcion" class="form-control input-sm" id="descripcion{{$index}}" placeholder="Detalle">
		    			</td>
		    			<td>
		    				<input type="text" ng-model="solicitud.detalle[$index].preUnit" format="currency" moneda="solicitud.moneda.id" ng-change="getTotalByLine($index)" class="form-control input-sm text-right" id="preUnit{{$index}}" style="width:100px;" placeholder="0.00">
							<input type="hidden" ng-model="solicitud.detalle[$index].preUnith">		    				
		    			</td>
		    			<td>
		    				<fieldset disabled>
		    				<input type="text" ng-model="solicitud.detalle[$index].totLine" class="form-control input-sm text-right" id="totLine{{$index}}" style="width:100px;" placeholder="0.00">
		    				<input type="hidden" ng-model="solicitud.detalle[$index].totLineh">
		    				<input type="hidden" ng-model="solicitud.detalle[$index].mon_disponible_line" class="form-control input-sm text-right" id="dispobibleLine{{$index}}">
		    				</fieldset>
		    			</td>
		    			<td>
		    				<a ng-click="removeCuenta(detCuenta)" style="cursor: pointer;" title="Eliminar"><i class="fa fa-minus-circle" style="color:#cc0000;"></i></a>
		    			</td>
		    		</tr>
		    	</tbody>
		    </table>
		  </div>
		  <div class="panel-footer">
		  	<div ng-style="warningStyle">
			  	<div class="row">
			  		<div class="col-md-12">
			  			<p class="text-warning"><b>{{warningTitle}}</b></p>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-md-12" style="padding-left:0px;">
			  			<ul>
			  				<li ng-repeat="w in warningLines" ng-hide="!w.length">{{w}}</li>
			  			</ul>
			  		</div>
			  	</div>
		  	</div>
		  	<div class="row">
			  	<div class="col-md-4">
					<div class="form-group">
						<label class="sr-only custom-font-size" for="disponible">Disponible</label>
						<div class="input-group">
							<div class="input-group-addon custom-font-size">Disponible:</div>
							<fieldset disabled>							
							<input type="text" value='{{solicitud.detalle[activeRow].mon_disponible_line | currency : "&cent;"}}' class="form-control input-sm text-right" id="disponible" placeholder="Disponible">
							</fieldset>
						</div>
					</div>
			  	</div>
			  	<div class="col-md-8 text-right">
			  		<button type="button" class="btn btn-success"  ng-click="saveSolicitud()">Guardar Solicitud 
			  			<span class="glyphicon glyphicon-refresh loading-icon"></span>
			  		</button>	
			  	</div>
		  	</div>
		  </div>
		</div>
	</div>	
	<div class="col-md-12">
		
	</div>
</div>