<h3 class="page-header">
    <div class="row">
        <div class="col-md-6">
            <h3 class="main-title">{{title}}</h3>
        </div>            
        <div class="col-md-6 text-right">
            <!--
            <md-button class="btn-success md-raised" ng-click="showConfirm($event)" >
                <span class="fa fa-refresh"></span>
            </md-button>
            -->
        </div>
    </div>
</h3>

<div class="row" style="background: #d7e3e1">
    <div class="col-md-2 custom-col-md">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="codigo">Código</label>
                <div class="input-group">
                    <div class="input-group-addon custom-font-size">Código:</div>
                    <input type="text" name="codigo" id="codigo" value="" placeholder="">
                </div>                
            </div>
        </form>
    </div>
    <div class="col-md-2 custom-col-md">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="subpartida">Subpartida</label>
                <div class="input-group">
                    <div class="input-group-addon custom-font-size">Subpartida:</div>
                    <input type="text" name="subpartida" id="subpartida" value="" placeholder="">
                </div>                
            </div>
        </form>
    </div>
    <div class="col-md-3 custom-col-md">
        
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="cetnroCosto">Centro de Costo</label>
                <div class="input-group">
                    <div class="input-group-addon custom-font-size">Centro de Costo:</div>
                    <select id="cetnroCosto" class="form-control input-sm" ng-model="centroCosto"
                      ng-options="option.DES_CENTRO for option in centroCostos track by option.COD_CENTRO" ng-change="getDetalleFirst()">
                    </select>
                </div>
            </div>
        </form>
    </div>    
    <div class="col-md-2 custom-col-md">
        
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="year">Año</label>
                <div class="input-group">
                    <div class="input-group-addon custom-font-size">Año:</div>
                    <select id="year" style="width: 98px;" class="form-control input-sm" ng-model="year"
                      ng-options="option.num_year for option in years track by option.cod_year" ng-change="loadCuentas()">
                    </select>
                </div>                
            </div>
        </form>
    </div>
</div>

<div class="row" style="background: #ddd;">
    <div class="col-md-12" style="padding: 0px;">
        <div class="panel panel-default" style="margin:5px;">
          <div class="panel-body">        
            <div class="table-responsive">
                
                <table id="tbl-ep" class="table table-condensed custom-font-size">
                  <thead>
                    <tr>
                        <th class="col-small">Código</th>
                        <th class="col-medium">Subpartida</th>
                        <th class="col-small">Meta</th>
                        <th class="col-big">Centro de Costo</th>
                        <th class="col-base">Presupuesto Ordinario</th>
                        <th class="col-base">Modificaciones</th>
                        <th class="col-base">Total Presupuesto</th>
                        <th class="col-base">Compromiso Provisional</th>
                        <th class="col-base">Compromiso Definitivo</th>
                        <th class="col-base">Gasto Real</th>
                        <th class="col-base">Disponible</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!--
                    <tr ng-repeat="line in presupuesto | filter:{programa:programa.DES_PROGRAMA}:true"
                    -->
                    <tr ng-repeat="line in encabezado"
                        ng-click="setActive($index, line.cod_programa, line.cod_cuenta)" ng-class="{'selected-row':isActive($index)}" style="cursor: pointer;">
                      <td class="col-small">{{line.cod_subpartida | strSubPartida}}</td>
                      <td class="col-medium" style="font-size: 10px;">{{line.DES_CUENTA}}</td>
                      <td class="col-small">{{line.COD_META}}</td>
                      <td class="col-big" title="{{line.DES_CENTRO}}">{{line.DES_CENTRO}}</td>
                      <td class="col-base text-right">{{line.mon_ordinario | currency : "&cent;"}}</td>
                      <td class="col-base text-right">{{line.mon_modificaciones | currency : "&cent;"}}</td>
                      <td class="col-base text-right">{{(line.mon_ordinario - line.mon_modificaciones) | currency : "&cent;"}}</td>
                      <td class="col-base text-right">{{line.mon_compromiso_provisional | currency : "&cent;"}}</td>
                      <td class="col-base text-right">{{line.mon_compromiso_definitivo | currency : "&cent;"}}</td>
                      <td class="col-base text-right">{{line.mon_gasto_real | currency : "&cent;"}}</td>
                      <td class="col-base text-right">{{line.mon_disponible | currency : "&cent;"}}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                        <td class="col-small text-right"><strong>Regs</strong></td>
                        <td class="col-medium text-left"><strong>{{registrosEncabeza}}</strong></td>
                        <th class="col-small"></th>
                        <th class="col-big"></th>
                        <td class="col-base text-right"><strong>{{totalesEncabezado.tot_presupuesto_ordinario | currency : "&cent;"}}</strong></td>
                        <td class="col-base text-right"><strong>{{totalesEncabezado.tot_modificaciones | currency : "&cent;"}}</strong></td>
                        <td class="col-base text-right"><strong>{{totalesEncabezado.tot_total_presupuesto | currency : "&cent;"}}</strong></td>
                        <td class="col-base text-right"><strong>{{totalesEncabezado.tot_compromiso_provisional | currency : "&cent;"}}</strong></td>
                        <td class="col-base text-right"><strong>{{totalesEncabezado.tot_compromiso_definitivo | currency : "&cent;"}}</strong></td>
                        <td class="col-base text-right"><strong>{{totalesEncabezado.tot_gasto_real | currency : "&cent;"}}</strong></td>
                        <td class="col-base text-right"><strong>{{totalesEncabezado.tot_disponible | currency : "&cent;"}}</strong></td>
                    </tr>
                  </tfoot>
                </table>

            </div>
        
          </div>
        </div>

    </div>
</div>

<div class="row" style="background: #d7e3e1">

    <div class="col-md-12" style="padding: 5px;">
        
          <uib-tabset active="active" class="custom-font-size">          
            <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
              <div ng-include="tab.templateUrl"></div>
            </uib-tab>          
          </uib-tabset>     

    </div>

</div>