<br />
<div class="row">
    
    <div class="col-xs-1">
        
    </div>

    <div class="col-md-10" style="border: solid thin #ccc;">
        <br />
        <div class="row">
            <div class="col-md-12">
                <h6 class="page-header" style="margin-top: 0px; font-weight: bold;">
                Persona Jurídica
                </h6>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                
                <div class="form-group">
                    <div class="input-group custom-font-size">
                        <div class="input-group-addon custom-font-size">Correo Electrónico:</div>
                        <input type="text" ng-model="consulta.tipoPersona" class="form-control input-sm" id="tipoPersona" placeholder="">
                    </div>
                </div>

                <div class="form-group">                    
                    <div class="input-group custom-font-size">
                        <div class="input-group-addon custom-font-size">Dirección:</div>
                        <input type="text" ng-model="consulta.tipoPersona" class="form-control input-sm" id="tipoPersona" placeholder="">
                    </div>
                </div>                  

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h6 class="page-header" style="margin-top: 0px; font-weight: bold;">
                Persona Extranjera
                </h6>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                
                <div class="form-group">
                    <div class="input-group custom-font-size">
                        <div class="input-group-addon custom-font-size">Correo Electrónico:</div>
                        <input type="text" ng-model="consulta.tipoPersona" class="form-control input-sm" id="tipoPersona" placeholder="">
                    </div>
                </div>

                <div class="form-group">                    
                    <div class="input-group custom-font-size">
                        <div class="input-group-addon custom-font-size">Dirección:</div>
                        <input type="text" ng-model="consulta.tipoPersona" class="form-control input-sm" id="tipoPersona" placeholder="">
                    </div>
                </div>                  

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group custom-font-size">
                        <div class="input-group-addon custom-font-size">Teléfono:</div>
                        <input type="text" ng-model="consulta.tipoPersona" class="form-control input-sm" id="tipoPersona" placeholder="">
                    </div>
                </div>

                <div class="form-group">                    
                    <div class="input-group custom-font-size">
                        <div class="input-group-addon custom-font-size">Celular:</div>
                        <input type="text" ng-model="consulta.tipoPersona" class="form-control input-sm" id="tipoPersona" placeholder="">
                    </div>
                </div>  
            </div>
        </div>


        <div class="row">
            
            <div class="col-md-12">
                
                <div class="col-md-8" style="border: solid thin #ccc;">

                    <h6 class="page-header" style="margin-top: 10px; font-weight: bold; margin-bottom: 5px;">
                    Dirección
                    </h6>

                    <div class="col-md-12" style="padding:0px; margin: 0px;">
                        <textarea class="form-control input-sm custom-font-size" rows="2" id="observaciones" ng-model="solicitud.observaciones"></textarea>
                        <br>
                    </div>

                    <h6 class="page-header" style="margin-top: 5px; font-weight: bold; margin-bottom: 5px;">
                    Dirección Trabajo
                    </h6>

                    <div class="col-md-12" style="padding:0px; margin: 0px; margin-bottom:39px">
                        <textarea class="form-control input-sm custom-font-size" rows="2" id="observaciones" ng-model="solicitud.observaciones"></textarea>
                        <br>
                    </div>

                </div>

                <div class="col-md-4" style="border: solid thin #ccc;">
                    <h6 class="page-header" style="margin-top: 10px; font-weight: bold; margin-bottom: 5px;">
                    Números de Teléfono
                    </h6>
                    
                    <div class="form-group" style="margin-bottom: 7px;">
                        <div class="input-group custom-font-size">
                            <div class="input-group-addon custom-font-size">Casa:</div>
                            <input type="text" ng-model="consulta.tipoPersona" class="form-control input-sm" id="tipoPersona" placeholder="">
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 7px;">
                        <div class="input-group custom-font-size">
                            <div class="input-group-addon custom-font-size">Celular:</div>
                            <input type="text" ng-model="consulta.tipoPersona" class="form-control input-sm" id="tipoPersona" placeholder="">
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 7px;">
                        <div class="input-group custom-font-size">
                            <div class="input-group-addon custom-font-size">Fax:</div>
                            <input type="text" ng-model="consulta.tipoPersona" class="form-control input-sm" id="tipoPersona" placeholder="">
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 7px;">
                        <div class="input-group custom-font-size">
                            <div class="input-group-addon custom-font-size">Trabajo:</div>
                            <input type="text" ng-model="consulta.tipoPersona" class="form-control input-sm" id="tipoPersona" placeholder="">
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 7px;">
                        <div class="input-group custom-font-size">
                            <div class="input-group-addon custom-font-size">Fax. Trabajo:</div>
                            <input type="text" ng-model="consulta.tipoPersona" class="form-control input-sm" id="tipoPersona" placeholder="">
                        </div>
                    </div>

                </div>                
            </div>

        </div>
        <br>

    </div>

    <div class="col-xs-1">
        
    </div>

</div>