<br>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10" style="border: solid thin #ccc;">
		
        <br />
        <div class="row">
            <div class="col-md-12">
                <h6 class="page-header" style="margin-top: 0px; font-weight: bold;">
                Observaciones
                </h6>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                
				<textarea class="form-control input-sm custom-font-size" rows="2" id="observaciones" ng-model="solicitud.observaciones"></textarea>

            </div>
        </div>
		<br>
        <div class="row">
        	
        	<div class="col-md-6">
                <h6 class="page-header" style="margin-top: 0px; font-weight: bold;">
                Registro
                </h6>
                <div class="form-group">
                    <div class="input-group custom-font-size">
                        <div class="input-group-addon custom-font-size">Usuario:</div>
                        <input type="text" ng-model="consulta.tipoPersona" class="form-control input-sm" id="tipoPersona" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group custom-font-size">
                        <div class="input-group-addon custom-font-size">Fecha:</div>
                        <input type="text" ng-model="consulta.tipoPersona" class="form-control input-sm" id="tipoPersona" placeholder="">
                    </div>
                </div>
        	</div>
        	
        	<div class="col-md-6">
                <h6 class="page-header" style="margin-top: 0px; font-weight: bold;">
                Última Modificación
                </h6>
                <div class="form-group">
                    <div class="input-group custom-font-size">
                        <div class="input-group-addon custom-font-size">Usuario:</div>
                        <input type="text" ng-model="consulta.tipoPersona" class="form-control input-sm" id="tipoPersona" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group custom-font-size">
                        <div class="input-group-addon custom-font-size">Fecha:</div>
                        <input type="text" ng-model="consulta.tipoPersona" class="form-control input-sm" id="tipoPersona" placeholder="">
                    </div>
                </div>
        	</div>

        </div>

	</div>
	<div class="col-md-1"></div>
</div>