/* -- NAVIGATION MENU --*/
.nav>li {
  position: relative;
  display: block;
  border-bottom: none;
}

.nav>li a:hover {
background:#09c2dd;
}      

.nav>li a {
color:#000;
}

.nav>li a.current {
background:#09c2dd;
}

/* -- DROPDOWN MENU --*/
#dropdown-submenu li {
  position: relative;
  display: block;
  border-bottom: none;
}

#dropdown-submenu li a:hover {
background:none;
}      

#dropdown-submenu li a {
    color:#000;
    font-size: 11px;
    padding-left: 10px;
}

#dropdown-submenu li a.current {
background:none;
}


/* -- PAGINA DE EJECUCION PRESUPUESTARIA -- */

.custom-col-md{
	padding: 0px; 
	margin: 5px 0px 5px 5px;
}

.custom-font-size{
	font-size: 11px;
}

#tbl-ep{
	width: 1325px;
}

#tbl-ep th{
    vertical-align: middle; 
    text-align: center;
}
#tbl-ep .col-small {
    width: 50px;
}
#tbl-ep .col-medium {
    width: 150px;
}
#tbl-ep .col-big {
    width: 200px;
}
#tbl-ep .col-base {
    width: 120px;
}
#tbl-ep thead, tfoot {
    background:#f9f9f9;
    display:table;
    width:100%;
    width:calc(100% - 10px);
}
#tbl-ep tbody {
    height:150px;
    overflow-y:scroll;
    overflow-x:hidden;
    display:block;
    width:100%;
}
#tbl-ep tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}    

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #000;
    cursor: default;
    background-color: #09c2dd;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}


#tbl-tabs-ep .col-small {
    width: 47px;
}
#tbl-tabs-ep .col-medium {
    width: 145px;
}

#tbl-tabs-ep th{
    vertical-align: middle; 
    text-align: center;
    border: solid thin #ddd;    
}

#tbl-tabs-ep thead{
    background:#eee;;
    display:table;
    width:100%;
    width:calc(100% - 5px);
}
#tbl-tabs-ep tbody {
    height:100px;
    overflow-y:scroll;
    overflow-x:hidden;
    display:block;
    width:100%;
    background: #fff;
}
#tbl-tabs-ep tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
} 

#tbl-tabs-sr-productos .col-small {
    width: 60px;
}
#tbl-tabs-sr-productos .col-medium {
    width: 100px;
}
#tbl-tabs-sr-productos .col-long {
    width: 150px;
}

#tbl-tabs-sr-productos th{
    vertical-align: middle; 
    text-align: center;
    border: solid thin #ddd;    
}

#tbl-tabs-sr-productos thead{
    background:#eee;;
    display:table;
    width:100%;
    width:calc(100% - 5px);
}
#tbl-tabs-sr-productos tbody {
    height:260px;
    overflow-y:scroll;
    overflow-x:hidden;
    display:block;
    width:100%;
    background: #fff;
}
#tbl-tabs-sr-productos tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
} 

.app-modal-window .modal-dialog {
  width: 98%;
}

#tbl-cv{
    width: 1010px;
}


#tbl-cv th,td{
    vertical-align: middle; 
    text-align: center;
}

#tbl-cv .col-small {
    width: 130px;
}

#tbl-cv .col-medium {
    width: 140px;
}

#tbl-cv .col-big {
    width: 250px;
}

#tbl-cv .col-base {
    width: 100px;
}

#tbl-cv thead, tfoot {
    background:#f9f9f9;
    display:table;
    width:100%;
    width:calc(100% - 15px);
}
#tbl-cv tbody {
    height:150px;
    overflow-y:scroll;
    overflow-x:hidden;
    display:block;
    width:100%;
}
#tbl-cv tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

.col-align-left{
    text-align: left;
}
.col-align-right{
    text-align: right;
}
.col-align-center{
    text-align: center;
}

.page-content {
    padding:0px 15px;
}

.main-title {
    margin: 12px 0px;
}

.md-button.btn-default {  
  font-size: 11px;
}

.md-button.btn-success {
  color : #fff;
  background-color: #5cb85c;
  font-size: 11px;
}

.md-button.btn-success:not([disabled]):hover {
  background-color: #4cae4c;
}

.md-button.btn-success[disabled] {
  color : rgba(0, 0, 0, 0.26);
  background-color: transparent;
}


.md-primary.md-confirm-button.md-button.md-ink-ripple.md-default-theme.btn-accept {
    color:#fff;
    background-color: #FEAC4A;
}
.md-primary.md-confirm-button.md-button.md-ink-ripple.md-default-theme.btn-accept:hover{
    background-color: #ffae34;
}

.md-primary.md-cancel-button.md-button.md-ink-ripple.md-default-theme.btn-cancel {
    color:#fff;
    background-color: #29ABDD;
}

.md-primary.md-cancel-button.md-button.md-ink-ripple.md-default-theme.btn-cancel:hover{
    background-color: #3ba3cb;
}

#accordion a{
    font-size: 14px;
}
#accordion .panel{
    margin-bottom: 0;
    background-color: none; 
    border: 0; 
    border-radius: none; 
    -webkit-box-shadow: none;
    box-shadow: none;    
}
#accordion .panel-body{
    padding: 0px 0px 0px 25px;
    background-color: #f6f6f6;
}

#submenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#submenu ul li{
    width: 100%;
    float: left;
    margin-top: 10px;
}
#submenu ul li > a{
    color:#000;
    font-size: 13px;
}

.subOptionHome {
    color:#fff; 
    text-decoration: none; 
    display:block; 
    width:120px; 
    margin-bottom:2px; 
    padding: 1px 5px; 
    border-radius:5px;    
}
.subOptionHome:hover{
    color:#ffff00;  
}


/*
.md-button.md-default-theme.btn-accept.md-raised, .md-button.btn-accept.md-raised {
    background-color: #FEAC4A;
}

.md-button.btn-accept:not([disabled]):hover {
  background-color: #4cae4c;
}

.md-button.btn-accept[disabled] {
  color : rgba(0, 0, 0, 0.26);
  background-color: transparent;
}
*/