<h3 class="page-header">
    {{$ctrl.title}} <span style="font-size: 14px;">{{$ctrl.subTitle}}</span>
    <span ng-if="$ctrl.actions.add">
    <a href="#!/solicitud/add" class="btn btn-success btn-sm pull-right">Agregar</a>
    </span>    
</h3>
<div class="table-responsive">    
    <span class="pull-right" style="font-size: 12px; margin-bottom:9px;">
        <b>Total Registros: <span style="color: #09c2dd;">{{$ctrl.totalRegistros}}</span></b>
    </span>
    <table class="table table-striped table-condensed custom-font-size">
        <thead>
            <tr>
                <th ng-repeat="c in $ctrl.columns" ng-class="$ctrl.getHeaderClass(c.text, $index)" ng-if="c.visible">
                {{c.text | capitalize}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="totalRegistros == 0">
                <td colspan="6" class="text-center" style="color:#ccc;">Sin Registros</td>
            </tr>

            <tr dir-paginate="d in $ctrl.infoGrid | filter:{ col1: search } | itemsPerPage:15">
                
                <td ng-repeat="c in $ctrl.columns" ng-class="$ctrl.addClass($index, d[c.text])" ng-if="c.visible">
                    
                    <span ng-if="c.text != 'Acciones'">
                        <span ng-if="c.visible">
                            <span ng-if="c.isCurrency">
                            {{d[c.text] | currency : "&cent;"}}
                            </span>
                            <span ng-if="!c.isCurrency">
                            {{d[c.text] | isDate | isStatusLetter | capitalizeEveryWord}}
                            </span>                            
                        </span>
                    </span>
                    <span ng-if="c.text == 'Acciones'">
                        <span ng-if="$ctrl.actions.edit">
                            <a href="#!{{$ctrl.locationPath}}/edit/{{d['solicitud']}}" class="btn btn-warning btn-xs" title="Editar"><i class="fa fa-edit"></i></a>
                        </span>
                        <span ng-if="$ctrl.actions.view">
                            <a href="#!{{$ctrl.locationPath}}/view/{{d['solicitud']}}" class="btn btn-default btn-xs" title="Ver"><i class="fa fa-eye"></i></a>
                        </span>
                        <span ng-if="$ctrl.actions.authorize && d['estado'] == 'C'">
                            <a class="btn btn-success btn-xs" data-ng-click="$ctrl.approve({codEdit:d['solicitud']})" title="Autorizar"><i class="fa fa fa-check"></i></a>
                        </span>

                        <span ng-if="$ctrl.actions.delete">
                            <a class="btn btn-danger btn-xs" ng-click="" title="Eliminar"><i class="fa fa-trash"></i></a>
                        </span>
                    </span>
                </td>
            </tr>
<!--
            <tr dir-paginate="solicitud in solicitudes | filter:{ des_programa: search } | itemsPerPage:15">
                <td align="center">{{solicitud.COD_SOLICITUD}}</td>
                <td>{{solicitud.des_programa | capitalize}}</td>
                <td>{{solicitud.FEC_REGISTRO | customDate}}</td>
                <td>{{solicitud.IND_ESTADO | getEstado}}</td>
                <td align="right" ng-if="solicitud.IND_MONEDA == 1">{{solicitud.MON_TOTAL | currency : "&cent;"}}</td>
                <td align="right" ng-if="solicitud.IND_MONEDA == 2">{{solicitud.MON_TOTAL | currency : "$"}}</td>
                <td align="right">                    

                <span ng-if="solicitud.IND_ESTADO == 1 && checkPermision(12)">
                    <a href="#!/solicitud/edit/{{solicitud.COD_SOLICITUD}}" class="btn btn-warning btn-xs" title="Editar Solicitud"><i class="fa fa-edit"></i></a>
                </span>

                <span ng-if="solicitud.IND_ESTADO == 1 && checkPermision(8)">
                    <a class="btn btn-success btn-xs" ng-click="verifySolicitud(solicitud.COD_SOLICITUD)" title="Enviar Solicitud"><i class="fa fa-send"></i></a>
                </span>

                <span ng-if="solicitud.IND_ESTADO == 2 && checkPermision(9)">
                    <a class="btn btn-success btn-xs" ng-click="setEstado(solicitud.COD_SOLICITUD, solicitud.IND_ESTADO)" title="Autorizar"><i class="fa fa-check"></i></a>
                </span>                    

                <span ng-if="checkPermision(10)">
                    <a href="#!/solicitud/view/{{solicitud.COD_SOLICITUD}}" class="btn btn-default btn-xs" title="Ver Solicitud"><i class="fa fa-eye"></i></a>
                </span>

                <span ng-if="solicitud.IND_ESTADO == 2 && checkPermision(11)">                        
                    <a class="btn btn-danger btn-xs" ng-click="rejectSolicitud(solicitud.COD_SOLICITUD)" title="Rechazar"><i class="fa fa-close"></i></a>
                </span>

                </td>
            </tr>
        -->
        </tbody>
    </table>
    <dir-pagination-controls
       max-size="15"
       direction-links="true"
       boundary-links="true" >
    </dir-pagination-controls>
</div>