<div class="table-responsive">
	<table id="tbl-tabs-sr-productos"class="table table-condensed" style="width:100%; margin-top:5px;">
		<thead>
			<tr>
				<th style="border: solid thin #ddd; text-align: center;">
					Este espacio esta destinado para que especifique la meta PAO a la que obedece esta solicitud. Adicionalmente
					puede indicar otros aspectos que usted desea que la proveduría tome en cuenta:
				</th>				
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="text-align: left;">
					{{tab.content}}
				</td>
			</tr>
		</tbody>
	</table>
</div>