<div class="table-responsive">
	<table id="tbl-tabs-sr-productos"class="table table-condensed" style="width:100%; margin-top:5px;">
		<thead>
			<tr>
				<th style="border: solid thin #ddd; text-align: left;">
					Justificación de la Compra:
				</th>				
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="text-align: left;">
					{{tab.content[0]}}
				</td>
			</tr>
		</tbody>
	</table>
	<table id="tbl-tabs-sr-productos"class="table table-condensed" style="width:100%; margin-top:5px;">
		<thead>
			<tr>
				<th style="border: solid thin #ddd; text-align: left;">
					Caracteristicas del Bien o Servicio:
				</th>				
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="text-align: left;">
<pre style="font-family: 'Roboto,Helvetica Neue,sans-serif'; background-color: #fff; border:0px; border-radius: 0px;" >
{{tab.content[1]}}
</pre>
					<br />
					{{tab.content[2]}}
				</td>
			</tr>
		</tbody>
	</table>	
</div>